<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

	<extension
		id="dk.dtu.compute.mbse.yawl.pntd"
		name="YAWL Nets"
    	point="org.pnml.tools.epnk.pntd">
    	<type
			class="dk.dtu.mbse.group7.yawl.impl.YAWLNetImpl"
    	    description="YAWL Nets" />
	</extension>

    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <!-- TODO this should be refering to the URI of your YAWL net model -->
         <package
               namespaceUri="http://group7.dtu.dk/mbse/yawl">
         </package>
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="Gruppe7YAWL.validation.correct-arc-connection"
                  lang="OCL"
                  mode="Live"
                  name="Arc connection constraint for YAWL nets"
                  severity="ERROR"
                  statusCode="401">
               <message>
                  The arc {0} with this arc type is not allowed between these elements.
               </message>
               <description>
                  Arcs must be between a place and a transition, a transition and a place, or
                  between two transitions. Only arcs between a place and a transition may have
                  a type! 
               </description>
               <!-- TODO the class the constraint refers to: the Arc of your YWAL Ecore model,
                    the class name and the URI of the packake separated by a colon -->
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <!-- since this is a live constraint, you need to tell the
                       validator when to check the constraint: in terms of events here
                       we use set events on the following features -->
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <!-- TODO the feature "type" is the reference to the Attribute defining the type
                          of the arc) -->
                     <feature
                           name="arcType">
                     </feature>
                  </event>
               </target>
               <!-- The actual OCL constraint follows -->
              <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   ( self.arcType->size() = 0) )
               ]]>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.StartEndCondition"
                  severity="ERROR"
                  mode="Batch"
                  name="One start and end place"
                  id="Group7YAWL.validation.one-start-and-end-place"
                  statusCode="402">
               <target class="YAWLNet:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  A YAWL net must have one start and end place.
               </description>
               <message>
                  The YAWL net {0} does not have exactly one start place and one end place.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoArcToStart"
                  severity="ERROR"
                  mode="Live"
                  name="No arc to start"
                  id="Group7YAWL.validation.no-arc-to-start"
                  statusCode="402">
               <target class="YAWLNet:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  A start place can't have an incoming arc.
               </description>
               <message>
                  The YAWL net {0} A start place can't have an incoming arc
               </message>
               
               
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <!-- since this is a live constraint, you need to tell the
                       validator when to check the constraint: in terms of events here
                       we use set events on the following features -->
                  <event
                        name="Set">
                     <feature
                           name="target">
                     </feature>
                  </event>
               </target>
            </constraint>
 
 			<constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoArcFromEnd"
                  severity="ERROR"
                  mode="Live"
                  name="No arc from end"
                  id="Group7YAWL.validation.no-arc-from-end"
                  statusCode="402">
               <target class="YAWLNet:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  An end place can't have an outgoing arc.
               </description>
               <message>
                  The YAWL net {0} An end place can't have an outgoing arc
               </message>
               
                <!-- TODO the class the constraint refers to: the Arc of your YWAL Ecore model,
                    the class name and the URI of the packake separated by a colon -->
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <!-- since this is a live constraint, you need to tell the
                       validator when to check the constraint: in terms of events here
                       we use set events on the following features -->
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <!-- TODO the feature "type" is the reference to the Attribute defining the type
                          of the arc) -->
                     <feature
                           name="placeType">
                     </feature>
                  </event>
               </target>
            </constraint>
 
            
             <!--
            <constraint
                  id="Group7YAWL.validation.no-arc-from-end-OCL"
                  lang="OCL"
                  mode="Live"
                  name="No arc from end"
                  severity="ERROR"
                  statusCode="401">
               <description>
                  An end place can't have an outgoing arc.
               </description>
               <message>
                  The YAWL net {0} An end place can't have an outgoing arc
               </message>
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     
                     <feature
                           name="placeType">
                     </feature>
                  
                  </event>
               </target>
              <![CDATA[
               ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   (not (self.source.oclAsType(Place).placeType.oclIsUndefined())) and 
                   ((self.source.oclAsType(Place).placeType.text = PType::END)) 
               )
               ]]>
            </constraint>
               -->
            
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoNodesWithoutArcs"
                  severity="ERROR"
                  mode="Batch"
                  name="No Nodes Without Arcs"
                  id="Group7YAWL.validation.no-nodes-without-arcs"
                  statusCode="402">
               <target class="YAWLNet:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  Nodes must have at least one arc (if a Place).
               </description>
               <message>
                  The Node {0} may not exist with no arcs.
               </message>
            </constraint>
            
            </constraints>
            
         </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://group7.dtu.dk/mbse/yawl"
            class="dk.dtu.mbse.group7.yawl.YawlPackage"
            genModel="model/yawl.genmodel"/>
   </extension>

</plugin>
