<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension
		id="dk.dtu.compute.mbse.yawl.pntd"
		name="YAWL Nets"
    	point="org.pnml.tools.epnk.pntd">
    	<type
			class="dk.dtu.mbse.group7.yawl.impl.YAWLNetImpl"
    	    description="YAWL Nets" />
	</extension>

    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://group7.dtu.dk/mbse/yawl">
         </package>
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="Gruppe7YAWL.validation.correct-arc-connection"
                  lang="OCL"
                  mode="Live"
                  name="Arc connection constraint for YAWL nets"
                  severity="ERROR"
                  statusCode="401">
               <message>
                  The arc {0} with this arc type is not allowed between these elements.
               </message>
               <description>
                  Arcs must be between a place and a transition, a transition and a place, or
                  between two transitions. Only arcs between a place and a transition may have
                  a type! 
               </description>
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <feature
                           name="arcType">
                     </feature>
                  </event>
               </target>
              <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   ( self.arcType->size() = 0) )
               ]]>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.StartEndPlace"
                  severity="ERROR"
                  mode="Batch"
                  name="One start and end place"
                  id="Group7YAWL.validation.one-start-and-end-place"
                  statusCode="402">
               <target class="YAWLNet:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  A YAWL net must have one start and end place.
               </description>
               <message>
                  The YAWL net {0} does not have exactly one start place and one end place.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoArcToStart"
                  severity="ERROR"
                  mode="Live"
                  name="No arc to start"
                  id="Group7YAWL.validation.no-arc-to-start"
                  statusCode="402">
               <target class="Place:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  A start place can't have an incoming arc.
               </description>
               <message>
                  The Place {0} can't have an incoming arc
               </message>
               
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="target">
                     </feature>
                  </event>
               </target>
            </constraint>
 
 			<constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoArcFromEnd"
                  severity="ERROR"
                  mode="Live"
                  name="No arc from end"
                  id="Group7YAWL.validation.no-arc-from-end"
                  statusCode="402">
               <target class="Place:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  An end place can't have an outgoing arc.
               </description>
               <message>
                  The Place{0} can't have an outgoing arc
               </message>
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <feature
                           name="placeType">
                     </feature>
                  </event>
               </target>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoDuplicateArcs"
                  severity="ERROR"
                  mode="Live"
                  name="No duplicate arcs"
                  id="Group7YAWL.validation.no-duplicate-arcs"
                  statusCode="402">
               <target class="Arc:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  Can't have arcs from same node to same node.
               </description>
               <message>
                  The Arc {0} Is a duplicate of another arc.
               </message>
               <target
                     class="Arc:http://group7.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                  </event>
               </target>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoTransitionWithoutArcs"
                  severity="ERROR"
                  mode="Batch"
                  name="No Nodes Without Arcs"
                  id="Group7YAWL.validation.no-transition-without-arcs"
                  statusCode="402">
               <target class="Transition:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  Nodes must have at least one arc (if a Place).
               </description>
               <message>
                  The Node {0} may not exist with no arcs.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.mbse.group7.yawl.constraints.NoPlaceWithoutArcs"
                  severity="ERROR"
                  mode="Batch"
                  name="No Nodes Without Arcs"
                  id="Group7YAWL.validation.no-place-without-arcs"
                  statusCode="402">
               <target class="Place:http://group7.dtu.dk/mbse/yawl"/>
               <description>
                  Nodes must have at least one arc (if a Place).
               </description>
               <message>
                  The Node {0} may not exist with no arcs.
               </message>
            </constraint>
            
            </constraints>
            
         </constraintProvider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://group7.dtu.dk/mbse/yawl"
            class="dk.dtu.mbse.group7.yawl.YawlPackage"
            genModel="model/yawl.genmodel"/>
   </extension>

</plugin>
