<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawlannotations -->
      <package
            uri="http://group7.dtu.dk/mbse/yawl/simulator"
            class="yawl.yawlannotations.YawlannotationsPackage"
            genModel="model/yawlannotations.genmodel"/>
   </extension>
   
   <extension
         id="yawl.simulator"
         name="YAWL simulator"
         point="org.pnml.tools.epnk.applications.applicationfactory">
       <applicationfactory
             class="yawl.simulator.application.YAWLSimulatorFactory"
             description="The first YAWL simulator for group 7">
       </applicationfactory>
   </extension>

</plugin>
